modulo {
    display: flex;
    flex-direction: column;
}

.topBar {
    display: inline-flex;
    width: 100%;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    height: 55px;
    align-items: center;
}

.divCheck {
    margin-left: 10px;
    margin-top: 2px;
}

.checkBoxLabel {
    padding-left: 30px !important;
    height: unset !important;
    display: flex !important;
    align-items: center !important;
}

.checkBoxLabel:after {
    margin-top: 2px !important;
    top: unset !important
}

.checkBoxLabel:before {
    top: 0px !important;
    bottom: 0px !important;
    margin: auto !important;
}

.btn-top {
    color: white !important;
    text-align: left;
    padding-left: 5px !important;
    padding-right: 10px !important;
    text-transform: none !important;
    margin-left: 15px;
    box-shadow: none !important;
}

.divMenu {
    width: 220px;
    margin-left: 5px;
}

.btn-filtro {
    width: 100%;
    margin-left: 0px;
    outline: none !important;
}

.inputFiltrar {
    width: 100%;
    height: 40px;
    border: none;
    padding-left: 5px;
    padding-right: 5px;
    outline: 0;
}

.inputFiltrar::-webkit-input-placeholder {
    /* Edge */
    color: #9e9e9e;
}

.inputFiltrar::placeholder {
    color: #9e9e9e;
}

.dropdown-menu {
    padding-bottom: 8px !important;
}

.dropdown-divider {
    margin-top: 0px !important;
}

.icone-top {
    margin-right: 6px !important;
}

/* Tabela */

.flexTabela {
    display: flex;
    flex-grow: 1;
}

.tableDiv {
    width: 100%;
    overflow-x: auto;
    display: flex;
}

#carregamentoTabela {
    z-index: 1000;
    width: 120px !important;
    height: 120px !important;
}

.responsive-table {
    overflow-x: auto;
}

thead {
    background: rgb(74, 80, 88);
    color: white;
}

th {
    border-radius: 0px !important;
}

.hover:hover {
    background-color: rgb(241, 241, 241) !important;
    cursor: pointer;
}

td,
th {
    padding: 18px !important;
}

.linkTabela,
.linkTabela:active,
.linkTabela:hover {
    color: rgb(69, 69, 85);
}

.salaLinha {
    white-space: nowrap;
}

td {
    font-size: 18px;
    padding: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

thead>tr {
    cursor: auto !important;
}

tbody>tr {
    background-color: white;
}

table.striped>tbody>tr:nth-child(odd) {
    background-color: rgb(252, 252, 252);
}

.linkNaTabela {
    display: flex;
    height: 100%;
    align-items: center;
    padding-left: 18px;
    padding-right: 18px;
    color: unset !important;
    text-decoration: none !important;
    height: 70px !important;
}

.nenhumResultado {
    display: none;
    flex-grow: 1;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: rgb(59, 59, 75);
    text-align: center;
    flex-grow: 1;
}

.cancel {
    display: none;
}

.cancel,
.concluido {
    display: none;
}

/* Banners */

.bannerTd {
    display: flex;
    justify-content: flex-end;
    padding-top: 18px !important;
    padding-bottom: 18px !important;
    padding-left: 18px !important;
    padding-right: 18px !important;
}

.banner {
    padding: 5px;
    margin-bottom: 0px !important;
    border-right: 2px solid;
    border-left: 0px solid;
    border-top: 0px solid;
    border-bottom: 0px solid;
    border-radius: 5px 0px 0px 5px !important;
    float: right;
}

.alert-warning {
    background-color: rgb(252, 243, 207) !important;
    color: #333 !important;
    border-color: rgb(241, 196, 15)
}

@media only screen and (max-width : 512px) {
    .topBar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 95px;
    }

    #botaoTop1,
    .divMenu {
        width: 300px !important;
        margin-left: 0px !important;
    }

    .divMenu {
        margin-top: 8px;
    }

    /* Menus */

    .inputFiltrar {
        height: 50px;
    }

    .divCheck {
        display: flex;
        height: 38px;
    }

    .nenhumResultado {
        font-size: 19px;
    }
}