body {
    width: 100% !important;
    height: 100% !important;
    background: linear-gradient(#606c88, #3f4c6b);
    position: relative !important;
    min-height: 100%;
}

.centro {
    display: none;
    position: absolute;
    width: 480px;
    height: 420px;
    background-color: white;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 5px;
}

.linhaTitulo {
    margin-bottom: 0px;
}

.imgSigae {
    margin-top: 15px
}

.tituloDigitar {
    text-align: center;
    font-size: 18px;
    color: #595959 !important;
    font-weight: 600 !important;
    margin-top: 0px;
    margin-bottom: 20px;
}

/*  */

.linhaCampo {
    margin-bottom: 0px !important;
}

.input-field {
    width: 80% !important;
}

.msgInputError {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 8px;
    color: crimson;
    text-align: left;
    width: 80%;
}

.btn-confirmar {
    color: white !important;
    width: 50%;
    margin-top: 10px;
    text-transform: unset !important;
    position: absolute;
    bottom: 0px;
    margin-bottom: 10px;
}

.toastTexto {
    margin-left: 8px;
}

.toast-erro {
    color: crimson;
}

.toast-ok {
    color: rgb(14, 141, 14);
}

/* Popup */

.popupShow {
    display: none;
    position: absolute;
    width: 250px;
    height: 140px;
    left: -225;
    background-color: rgb(253, 253, 253);
    border: 1px solid rgb(177, 177, 177);
    -webkit-box-shadow: 5px 7px 5px -4px rgba(69, 56, 69, 0.19);
    -moz-box-shadow: 7px 7px 5px -4px rgba(69, 56, 69, 0.19);
    box-shadow: 7px 7px 5px -4px rgba(69, 56, 69, 0.19);
    padding: 10px;
    transition: 200ms;
}

.popupShow:after {
    content: '';
    border-top: 1px solid rgb(177, 177, 177);
    border-right: 1px solid rgb(177, 177, 177);
    background-color: rgb(253, 253, 253);
    position: absolute;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    right: -11;
    top: 26;
    box-shadow: 0 -5px 5px -5px rgba(69, 56, 69, 0.19);
    box-shadow: 5px 0 5px -5px rgba(69, 56, 69, 0.19);
}

.popupShow2 {
    width: 250px;
    height: 60px;
    top: 232;
    left: -225;
}

.progress {
    margin-bottom: 5px;
}

.forcaTitulo {
    font-size: 18px
}

.forcaSub {
    font-size: 16px;
    font-weight: 500;
}

.diferentes {
    display:flex;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    align-items: center;
}

#força {
    color: crimson;
}