/* default */
body {
    width: 100%;
    height: 100%;
    background-color: rgb(241, 242, 243);
}


.sistema {
    width: 100%;
    height: 100%;
    display: none;
}

.tudo {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    overflow-y: auto !important;
    overflow-x: hidden;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-flow: column;
}

.linha {
    width: 600px;
}

.topo {
    height: 200px;
}

.titulo {
    font-size: 22px;
    color: rgb(59, 59, 75);
    text-align: center;
}

.parte1 {
    margin-top: 180px;
    -webkit-box-flex: 1 0 auto;
    -moz-box-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.parte2 {
    margin-top: 90px;
    display: none;
    flex-grow: 1;
}

.parte3 {
    margin-top: 90px;
    display: none;
    flex-grow: 1;
}

.parte4 {
    display: none;
    flex-grow: 1;
}

/* parte 1 */

.contentChave {
    width: 320px;
}

.inputChave {
    width: 100%;
    margin-left: 0px !important;
}

.btnChave {
    width: 100%;
    color: white !important;
}

.waiting {
    display: none;
    margin-top: 25px;
}

.erro {
    display: none;
    width: 100%;
    margin-top: 25px;
}

.alert-danger {
    width: 100%;
}

.close:focus {
    outline: none;
    background-color: transparent !important;
}

.alert {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.alert-primary {
    background-color: rgb(78, 95, 120);
    color: rgb(241, 242, 243);
    border-color: rgb(78, 95, 120);
}

/* Parte 2 */

.parte2Painel {
    display: inline-flex;
}

.vcE {
    text-align: center;
    font-size: 28px;
    margin-left: 6px;
    margin-right: 6px;
}

.containerTipo {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(74, 80, 88);
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}

.tipoParte2 {
    font-size: 38px;
    color: rgb(74, 80, 88);
    text-align: center;
    margin-top: 0px;
}

.tipo-icone {
    color: rgb(74, 80, 88);
    font-size: 34px !important;
}

.parte2Esquerda {
    float: left;
    margin-left: 5px;
}

.parte2Direita {
    float: right;
}

.perguntaInfo {
    font-size: 22px;
    margin-right: 12px;
    margin-left: 3px;
    display:flex;
}

.perguntaResp {
    font-size: 22px;
    font-weight: bold;
}

.iconePerg {
    margin-right: 5px;
}

.btn-confirmar {
    color: white !important;
    width: 95%;
    margin-top: 10px;
    text-transform: unset !important;
}

.alerta-codigo {
    margin-left: 0px;
    margin-right: 0px;
}

/* Parte 3 */

.linhaBotao {
    margin-bottom: 0px !important;
}

.input-field {
    width: 100% !important;
    margin-left: 15px;
    margin-right: 15px;
}

.input-disciplinas {
    width: 100% !important;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
    margin-top: 15px
}

.input-select {
    margin-bottom: 10px;
}

.msgInputError {
    margin-left: 15.5px;
    margin-right: 10px;
    margin-bottom: 8px;
    color: crimson;
    text-align: left;
    width: 100%;
}

.baixo {
    height: 120px;
}

/* Parte 4 */

.emailTexto {
    font-size: 24px;
    color: rgb(59, 59, 75);
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.emailBaixoTexto {
    font-size: 22px;
    color: rgb(59, 59, 75);
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.imgEmail {
    margin-top: 20px;
    margin-bottom: 30px;
}

.btn-parte4 {
    color: white !important;
    width: 60%;
    margin-top: 5px;
    text-transform: unset !important;
}

/* footer */

.footer {
    width: 100% !important;
    height: 150px !important;
    background-color: rgb(74, 80, 88) !important;
    position: relative;
}

.footerLinha {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 50px;
}

.copyright-titulo {
    font-size: 20px;
    color: rgb(151, 176, 235);
    margin-top: 35px;
    margin-bottom: 10px;
    text-align: center;
}

.copyright {
    font-size: 17px;
    color: aliceblue;
    margin-top: 35px;
    margin-bottom: 10px;
}

.versao {
    font-size: 16px;
    color: rgb(151, 176, 235);
    margin-top: 20px;
    margin-bottom: 10px;
}

.linkFooter {
    color: rgb(68, 221, 104);
    transition: color 300ms;
}

.linkFooter:hover {
    color: rgb(40, 167, 69);
}

#linkFooter2,
#brTitulo {
    display: none;
}

/* Popup */

.popupShow {
    display: none;
    position: absolute;
    width: 250px;
    height: 140px;
    left: -270;
    background-color: rgb(253, 253, 253);
    top: -14px;
    border: 1px solid rgb(177, 177, 177);
    -webkit-box-shadow: 5px 7px 5px -4px rgba(69, 56, 69, 0.19);
    -moz-box-shadow: 7px 7px 5px -4px rgba(69, 56, 69, 0.19);
    box-shadow: 7px 7px 5px -4px rgba(69, 56, 69, 0.19);
    padding: 10px;
    transition: 200ms;
}

.popupShow:after {
    content: '';
    border-top: 1px solid rgb(177, 177, 177);
    border-right: 1px solid rgb(177, 177, 177);
    background-color: rgb(253, 253, 253);
    position: absolute;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    right: -11;
    top: 26;
    box-shadow: 0 -5px 5px -5px rgba(69, 56, 69, 0.19);
    box-shadow: 5px 0 5px -5px rgba(69, 56, 69, 0.19);
}

.progress {
    margin-bottom: 5px;
}

.forcaTitulo {
    font-size: 18px;
    color: #545454;
}

.forcaSub {
    color: #545454;
    font-size: 16px;
    font-weight: 500;
}

#força {
    color: crimson;
}

/* MISC */

div.selectNome > .dropdown-menu > .inner > ul > .disabled {
    display: none !important;
}

div.selectTurma > .dropdown-menu > .inner > ul > .disabled, .dropdown-divider.optgroup-1div {
    display: none !important;
}

.bs-searchbox > input {
    margin-bottom: -2px !important;
}

.toastTexto {
    margin-left: 8px;
}

.toast-erro {
    color: crimson;
}

.toast-ok {
    color: rgb(14, 141, 14);
}

.toastTexto,
.toast-action {
    white-space: nowrap;
}

.swal2-popup .swal2-styled:focus {
    box-shadow: none !important;
}

.swal-button:focus {
    box-shadow: none;
}