/* DIV Botões */

.botoes {
    display: inline-flex;
}

@media only screen and (max-width: 540px) {
    .botoes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .btn-top {
        margin-top: 10px;
    }
}

.btn-top, .btn-baixo {
    color: white !important;
    width: 250px !important;
    margin-right: 10px !important;
    padding-left: 15px !important;
}

/* Body */

.collapsible {
    margin-top: 15px;
}

.collapsible-header {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: bold;
}

.erro {
    font-size: 16px;
    color: crimson;
    margin-top: 8px;
    margin-left: 2px;
    display: none;
}

.editado {
    font-weight: bold;
    color: rgb(38, 166, 154);
    margin-left: 3px;
    display: none;
}

.collapsible-body {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.input-field {
    width: 100%;
}

.icone-tab {
    color: rgb(83, 106, 141)
}

.selected {
    background-color: rgb(112, 121, 201) !important;
    color: white !important;
    outline: none !important;
    border: none !important;
}

div .selectpicker>.dropdown-menu>.inner>ul>li>.selected {
    background-color: rgb(112, 121, 201) !important;
    color: white !important;
    outline: none !important;
    border: none !important;
}

div .selectpicker>.dropdown-menu>.inner>ul>li>a:active {
    background-color: rgb(247, 247, 247) !important;
    color: #212529 !important;
}

.alert-primary {
    background-color: rgb(78, 95, 120);
    color: rgb(241, 242, 243);
    border-color: rgb(78, 95, 120);
    padding-bottom: 10px;
}

/* img */

.containerEdicao {
    width: 300px !important;
    height: 300px !important;
}

.cropper-container {
    width: 100% !important;
    height: 100% !important;
}

.cropper-view-box {
    outline: 1px solid rgb(92, 103, 188) !important;
    outline-style: dashed !important;
    outline-color: rgb(92, 103, 188)!important;
}

@media only screen and (max-width: 600px) {
    .containerEdicao {
        width: 100% !important;
    }
}

.cropper-view-box,
.cropper-face {
    border-radius: 50%;
}

#parte2 {
    display: none;
}

#inputImage {
    position: fixed;
    top: -100em;
}

.botaoFoto {
    text-align: center;
    font-size: 18px;
}

@media only screen and (max-width : 482px) {
    .input-field {
        width: 100%;
    }
}