/* Head */

.allDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.topBar {
    width: 100%;
    height: 50px !important;
}

.bodyModulo {
    flex-grow: 1;
    padding-top: 10px;
    background-color: rgb(252, 252, 252);
    margin-bottom: 15px;
}

/* Tabs */
.tabMaterialize {
    width: unset !important;
}

.tabs {
    background-color: rgb(223, 225, 232);
    height: 100%;
    border-radius: 1px;
}

.topBar>ul>li>a {
    text-decoration: none !important;
    text-transform: none !important;
    color: rgb(92, 102, 188) !important;
    font-weight: bold;
    padding: 0 15px;
}

.indicator {
    background-color: rgb(92, 102, 188) !important;
}

/* Conteúdo tabela dados */
.texto {
    font-weight: bold;
    padding-left: 20px;
    color: #444444;
    padding-top: 8px;
    padding-bottom: 8px;
}

.resposta {
    color: #444444;
    padding-top: 8px;
    padding-bottom: 8px;
}

.bannerTd {
    display: flex;
}

/* Banners */
.banner {
    padding: 5px;
    margin-bottom: 0px !important;
    border-left: 2px solid;
    border-right: 0px solid;
    border-top: 0px solid;
    border-bottom: 0px solid;
    border-radius: 0px 5px 5px 0px !important;
}

.alert-warning {
    background-color: rgb(252, 243, 207) !important;
    color: #333 !important;
    border-color: rgb(241, 196, 15)
}

/* # divAcoes # */

.divAcoes {
    flex-grow: 1;
}

.collection {
    border-color: rgb(223, 225, 232)!important;
}

.collection-title {
    color: rgb(92, 102, 188)
}

.buttonDiv {
    display: inline-grid;
}

.btn-acao {
    margin-top: 15px;
    color: white !important;
    padding-left: 10px;
    text-transform: none !important;
}

@media only screen and (max-width : 580px) {
    .collection-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* # divTabela # */

.responsive-table {
    overflow-x: auto;
}

.lista > thead {
    background: rgb(74, 80, 88);
    color: white;
}

.lista > thead > tr > th {
    border-radius: 0px;
}

.hover:hover {
    background-color: rgb(241, 241, 241) !important;
    cursor: pointer;
}

.linkTabela,
.linkTabela:active,
.linkTabela:hover {
    color: rgb(69, 69, 85);
}

.salaLinha {
    white-space: nowrap;
}

.lista > td {
    font-size: 18px;
}

.lista > thead>tr {
    cursor: auto !important;
}

.lista > tbody>tr {
    background-color: white;
}