.topBar {
    width: 100%;
    height: 135px;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
}

.title {
    color: rgb(69, 69, 85);
    font-size: 18px;
    margin-left: 15px;
    padding-top: 10px;
}

.toolbar {
    height: 30px;
    margin-top: 10px;
    margin-left: 15px;
    display: inline-flex;
}

.campoFiltro {
    width: 260px;
    height: 100%;
    outline: 0 !important;
    border: 0.5px solid #9e9e9e;
    border-radius: 2px;
    padding-left: 10px;
}

.selectFiltro {
    width: 300px !important;
    margin-left: 10px !important;
    height: 100% !important;
}

.bootstrap-select:not(.input-group-btn), .bootstrap-select[class*=col-] {
    display: block !important;
}

.dropdown-toggle {
    height: 100% !important;
    border: 0.5px solid #9e9e9e !important;
    padding-left: 6px !important;
}

.filter-option {
    margin-top: -5px !important;
}

/* Table */

.tableDiv {
    width: 100%;
    overflow-x: auto;
}

.responsive-table {
    overflow-x: auto;
}

thead {
    background: rgb(74, 80, 88);
    color: white;
}

th {
    border-radius: 0px !important;
}

tr {
    cursor: pointer;
}

.hover:hover {
    background-color: rgb(192, 206, 226) !important;
    color: white !important;
    transition: all 200ms;
}

td, th {
    padding: 18px !important;
}

.corpoNome {
    display: inline-flex;
}

.nomeLabel {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

/* Pagination */

.pagination {
    margin-top: 12px;
}

.pontinhos {
    display: flex !important;
    align-items: center !important;
}

@media only screen and (max-width : 640px) {

    .topBar {
        height: 125px !important;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .toolbar {
        display: block;
        margin-left: 0px;
    }

    .selectFiltro {
        margin-left: 0px !important;
        margin-top: 10px;
    }

    .campoFiltro {
        width: 300px !important;
    }

    .title {
        margin-left: 0px;
    }


}