modulo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inicio-nome {
    font-size: 32px;
    color: rgb(78, 95, 120);
    white-space: nowrap;
}

.divChipInicio {
    border-radius: 5px;
    width: 290px;
    height: 45px;
    margin-top: 20px;
    display: inline-flex;
    align-items: center;
}

.centroInicio {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.icon-chip-inicio {
    margin-left: 5px;
    color: azure;
    width: 24px !important;
}

.text-noti {
    font-size: 19px;
    margin-left: 5px;
    color: azure;
}

#not1 {
    background-color: rgb(238, 110, 115);
}

#not2 {
    background-color: rgb(10, 87, 23);
}

#not3 {
    background-color: rgb(87, 79, 161);
}

.linkCard {
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(78, 95, 120) !important;
    transition: 200ms;
    cursor: pointer
}

.linkCard:hover {
    color: rgb(38, 166, 154) !important;
}