.swal2-container.swal2-shown {
    background-color: transparent!important;
}

.linhaCampo {
    margin-bottom: 0px !important;
}

.input-field {
    width: 80% !important;
}

.msgInputError {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 8px;
    color: crimson;
    text-align: left;
    width: 80%;
}

.swal2-content {
    padding-right: 0px !important;

}
.btn-confirmar {
    color: white !important;
    width: 50%;
    margin-top: 10px;
    text-transform: unset !important;
    position: absolute;
    bottom: 0px;
    margin-bottom: 10px;
}

.toastTexto {
    margin-left: 8px;
}

.toast-erro {
    color: crimson;
}

.toast-ok {
    color: rgb(14, 141, 14);
}